[Desktop Entry]
Type=Application
Name=AutoDoc Editor
GenericName=Markdown editor
Comment=Edit and search documents with AutoDoc
Exec=autodoc-editor
TryExec=autodoc-editor
Terminal=false
Categories=Utility;TextEditor;
StartupNotify=true
